# Server Port
PORT=8080

# JWT Authentication Secret Key
JWT_SECRET=secretkey123

# PostgreSQL Database Connection String
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ticketdb?sslmode=disable
